---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import Pain from "../components/Pain.astro";
import Solution from "../components/Solution.astro";
import HowItWorks from "../components/HowItWorks.astro";
// import Proof from "../components/Proof.astro"; // скрыт до появления реальных отзывов/кейсов
import Pricing from "../components/Pricing.astro";
import Faq from "../components/Faq.astro";
import FinalCta from "../components/FinalCta.astro";
import Footer from "../components/Footer.astro";
import LeadModal from "../components/LeadModal.astro";
---

<Layout>
  <Nav />
  <main>
    <Hero />
    <Pain />
    <Solution />
    <HowItWorks />
    <Pricing />
    <Faq />
    <FinalCta />
  </main>
  <Footer />
  <LeadModal />
</Layout>
